// Start Header

.header
  .menue.hidden
    .logg
      i.fas.fa-times.fa
      img(src="imges/pc-logo.png", alt="")
    ul
      a #[li Home]
      a #[li.bord Help Center]
    button Sign Up
    button Log In
    .foot-young
      img(src="imges/faace.png", alt="")
      span Follow Midasbuy
  .overlay
    .container
      .nav-head
        i.fa.fa-bars
        ul.logo
          li
            img(src="imges/pc-logo.png", alt="")
          li Home
          li Help Center
        ul.lunch.ml-auto
          .line
            li.butter
              img(src="imges/world.jpg", alt="")
          .account
            li.bord My Account
    .shado
      .container
        .menu
          ul
            li PUBG MOBIILE
            li.active Purchase
            li Redeem
            li Shop


// End Header
