

$main-color: #141B3D;
$sub-color: #ff8313;
$other-color: #fff;
$dark-color: #133660;
$blue-color: #0A495C;
$gray-color: #898989;
$second-color: #9f9f9f;
$light-color: #F5F4F4;


$float-right: right;
$float-left: left;


$test: #131A3C;
$tesst: #ffffcc;
